<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <nav>
    <nav class="nav">
      <div class="text text-center">
        Welcome {{title}} {{user}}!
        <br> Level 1 Exp 0
        <br> Here is your list for today:
      </div>
    </nav>

    <ul class ="input-block" style="height: auto; list-style-type: none;">
      {% for task in list %}
      <li class="text-list">{{ task.id }}. {{ task.title }} Exp 1</li>
      {% else %}
      <li>List for temporary users  is unfortunatly empty</li>
      {% endfor %}
    </ul>

    
      <div class="text-center">
      Go back to <a href="https://had-undefined.codeanyapp.com/">Login</a> or <a href="https://had-undefined.codeanyapp.com/register">Register</a>.
    </div>
    <script src="/js/main.js"></script>
</body>